@keyframes runSlideBg {
	0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes scrollRunning {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes increaseScale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(7);
    }
}

@keyframes decreaseOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
