/* stylelint-disable */
@mixin burger {
  border: none;
  background-color: transparent;
  display: none;
  padding-left: 0;
  cursor: pointer;
  position: relative;
  z-index: 111;
  margin-right: 15px;

  &::before,
  &::after {
      content: "";
      opacity: 0;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--cs-red);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  // &.burger--active .img {
  //     opacity: 0;
  // }

  &.burger--active {
      &::before,
      &::after {
          opacity: 1;
          top: 50%;
      }

      &::before {
          transform: rotate(45deg);
      }

      &::after {
          transform: rotate(-45deg);
      }
  }
}
