@mixin btn-main {
    width: 100%;
    display: block;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    border-radius: 4px;
    transition: all ease-in-out .4s;
}

@mixin btn-red {
    background-color: var(--cs-red);
    box-shadow: 0 0 0 transparent;

    &:hover {
        box-shadow: 0 0 20px var(--cs-red);
    }
}

@mixin btn-red-outline {
    border: 1px solid rgba(243, 38, 38, 0.5);
    background-color: transparent;
    transition: all .4s cubic-bezier(0.42, 0, 0.58, 1);
    position: relative;

    &:hover {
        text-shadow: nthree;
    }

    &:hover::before {
        left: 0%;
        right: auto;
        width: 100%;
        transition: all .4s cubic-bezier(0.42, 0, 0.58, 1);
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        border-radius: 4px;
        width: 0px;
        z-index: -1;
        background: var(--cs-red);
    }

}

@mixin title {
    margin-top: 0;
    margin-bottom: 0;
}

@mixin socials {
    .socials {
        .list {
            gap: 10px;

            &__link {
                background: rgba(234, 235, 240, .05);
                border-radius: 4px;
                @include flex-all-center;
                width: 35px;
                height: 35px;

                .icon {
                    width: 15px;
                    height: 15px;
                    fill: var(--cs-grey-text);
                    transition: all ease-in-out .4s;
                }

                &:hover {
                    .icon {
                        transform: scale(1.5) translateY(-5px);
                    }
                    .icon.telegram {
                        fill: #0088CC;
                    }
                    .icon.youtube {
                        fill: #FF0000;
                    }
                    .icon.twitter {
                        fill: #1DA1F2;
                    }
                    .icon.instagram {
                        fill: #DD2A7B;
                    }
                    .icon.facebook {
                        fill: #3b5998;
                    }
                }
            }
        }
    }
}
