<div class="blogs">
    <section class="main-banner">
        <div class="wrapper">
            <h1 class="main-banner__title">
                Education
            </h1>
            <div aria-label="Breadcrumbs" role="navigation">
                <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/" class="pathway">
                            <span itemprop="name">
                                Home
                            </span>
                        </a>
                        <span class="divider"></span>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                        <span itemprop="name">
                            Education
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="education">
        <div class="wrapper">
            <div class="education__container education__slider">
                <div class="blogs-preview slide">
                    <div class="slide__image-wrap">
                        <img src="/images/education/1.jpg" alt="Title of Article">
                    </div>
                    <div class="slide__content">
                        <h4 class="slide__title">
                            Learn Forex
                        </h4>
                        <p class="slide__text">
                            When a trader links their new or existing forex trading account to us, the broker pays us a volume based commission for every trade that's placed. We then pay most of this back to our clients.
                        </p>
                        <a href="#" class="slide__more">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="blogs-preview slide">
                    <div class="slide__image-wrap">
                        <img src="/images/education/2.jpg" alt="Title of Article">
                    </div>
                    <div class="slide__content">
                        <h4 class="slide__title">
                            Forex Brokers
                        </h4>
                        <p class="slide__text">
                            When a trader links their new or existing forex trading account to us, the broker pays us a volume based commission for every trade that's placed. We then pay most of this back to our clients.
                        </p>
                        <a href="#" class="slide__more">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="blogs-preview slide">
                    <div class="slide__image-wrap">
                        <img src="/images/education/3.jpg" alt="Title of Article">
                    </div>
                    <div class="slide__content">
                        <h4 class="slide__title">
                            Technical Indicators
                        </h4>
                        <p class="slide__text">
                            When a trader links their new or existing forex trading account to us, the broker pays us a volume based commission for every trade that's placed. We then pay most of this back to our clients.
                        </p>
                        <a href="#" class="slide__more">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="blogs-preview slide">
                    <div class="slide__image-wrap">
                        <img src="/images/education/4.jpg" alt="Title of Article">
                    </div>
                    <div class="slide__content">
                        <h4 class="slide__title">
                            Calculators & Tools
                        </h4>
                        <p class="slide__text">
                            When a trader links their new or existing forex trading account to us, the broker pays us a volume based commission for every trade that's placed. We then pay most of this back to our clients.
                        </p>
                        <a href="#" class="slide__more">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="blogs-preview slide">
                    <div class="slide__image-wrap">
                        <img src="/images/education/5.jpg" alt="Title of Article">
                    </div>
                    <div class="slide__content">
                        <h4 class="slide__title">
                            Forex Basics
                        </h4>
                        <p class="slide__text">
                            When a trader links their new or existing forex trading account to us, the broker pays us a volume based commission for every trade that's placed. We then pay most of this back to our clients.
                        </p>
                        <a href="#" class="slide__more">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="blogs-preview slide">
                    <div class="slide__image-wrap">
                        <img src="/images/education/6.jpg" alt="Title of Article">
                    </div>
                    <div class="slide__content">
                        <h4 class="slide__title">
                            MQL4
                        </h4>
                        <p class="slide__text">
                            When a trader links their new or existing forex trading account to us, the broker pays us a volume based commission for every trade that's placed. We then pay most of this back to our clients.
                        </p>
                        <a href="#" class="slide__more">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="blogs-preview slide">
                    <div class="slide__image-wrap">
                        <img src="/images/education/7.jpg" alt="Title of Article">
                    </div>
                    <div class="slide__content">
                        <h4 class="slide__title">
                            Training Videos
                        </h4>
                        <p class="slide__text">
                            When a trader links their new or existing forex trading account to us, the broker pays us a volume based commission for every trade that's placed. We then pay most of this back to our clients.
                        </p>
                        <a href="#" class="slide__more">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="blogs-preview slide">
                    <div class="slide__image-wrap">
                        <img src="/images/education/8.jpg" alt="Title of Article">
                    </div>
                    <div class="slide__content">
                        <h4 class="slide__title">
                            Miscellaneous
                        </h4>
                        <p class="slide__text">
                            When a trader links their new or existing forex trading account to us, the broker pays us a volume based commission for every trade that's placed. We then pay most of this back to our clients.
                        </p>
                        <a href="#" class="slide__more">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
