<div class="blog-page">
    <section class="main-banner">
        <div class="wrapper">
            <h1 class="main-banner__title">
                Learn Forex
            </h1>
            <div aria-label="Breadcrumbs" role="navigation">
                <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/" class="pathway">
                            <span itemprop="name">
                                Home
                            </span>
                        </a>
                        <span class="divider"></span>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/" class="pathway">
                            <span itemprop="name">
                                Education
                            </span>
                        </a>
                        <span class="divider"></span>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                        <span itemprop="name">
                            What are Forex Trend Indicators and Which Ones to Use
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="blog">
        <div class="wrapper">
            <div class="blog__container">
                <div class="content">
                    <h2>
                        What are Forex Trend Indicators and Which Ones to Use
                    </h2>
                    <p>
                        Trend-following indicators are the most popular type of indicators. They are good in identifying
                        trends and giving you simple buy and sell signals.<br>
                        One of the common charges against trend-following indicators is that they lag significantly after
                        price and generate signals too late. But you don’t want an indicator to get you into trend changes
                        too fast either, as you can then be lead into too many false signals in a noisy, vacillating market.
                        It is encouraged that you play with the length and calculation methods of different trend indicators
                        to find the right balance between speed/responsiveness and smoothness/reliability.
                    </p>
                    <div class="image-wrap">
                        <img src="images/education/blog/1.jpg" alt="What are Forex Trend Indicators and Which Ones to Use">
                    </div>
                    <p>
                        Trend-following indicators are the most popular type of indicators. They are good in identifying
                        trends and giving you simple buy and sell signals.<br>
                        One of the common charges against trend-following indicators is that they lag significantly after
                        price and generate signals too late. But you don’t want an indicator to get you into trend changes
                        too fast either, as you can then be lead into too many false signals in a noisy, vacillating market.
                        It is encouraged that you play with the length and calculation methods of different trend indicators
                        to find the right balance between speed/responsiveness and smoothness/reliability.
                    </p>
                    <p>
                        Trend-following indicators are the most popular type of indicators. They are good in identifying
                        trends and giving you simple buy and sell signals.<br>
                        One of the common charges against trend-following indicators is that they lag significantly after
                        price and generate signals too late. But you don’t want an indicator to get you into trend changes
                        too fast either, as you can then be lead into too many false signals in a noisy, vacillating market.
                        It is encouraged that you play with the length and calculation methods of different trend indicators
                        to find the right balance between speed/responsiveness and smoothness/reliability.
                    </p>
                    <div class="date">
                        Updated 13 April 2020
                    </div>
                </div>
                <div class="comments">
                    <div class="comments__top">
                        <h4>Is this article helpful? Share it with a friend</h4>
                        <div class="socials">
                            <ul class="list-reset">
                                <li>
                                    <a href="#" class="fb" target="_blank">
                                        <svg class="icon facebook">
                                            <use xlink:href="images/sprite.svg#facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tw" target="_blank">
                                        <svg class="icon twitter">
                                            <use xlink:href="images/sprite.svg#twitter"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="ml" target="_blank">
                                        <svg class="icon mail">
                                            <use xlink:href="images/sprite.svg#mail"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="comments__form">
                        <form id="uForm_2" action="#" class="form" enctype="multipart/form-data" method="post">
                            <input class="uForm__extended" name="nospam" type="text" value="uform-empty" required>
                            <div class="form__left">
                                <h3 class="form__subtitle">enter your comment about article</h3>
                                <h2 class="form__title">Comments</h2>
                            </div>
                            <div class="form__right">
                                <input class="form__control" id="uForm__name_2" name="name" type="text" placeholder="Name" required>
                                <input class="form__control" id="uForm__email_2" name="Email" type="text" placeholder="Enter your e-mail" required>
                                <textarea class="form__control" id="uForm__comment_2" name="Comment" id="">Enter your comment here</textarea>
                                <p id="uForm__error-msg_2" class="uForm__error-msg"></p>
                                <div class="form__controls">
                                    <button class="btn-reset btn-main btn-main--red" id="uForm__submit_2" type="submit">
                                        Submit
                                    </button>
                                    <div class="group">
                                        <span>
                                            Not using <a href="#">Html Comment Box</a> yet?
                                        </span>
                                        <label class="custom-checkbox">
                                            <input type="checkbox" class="custom-checkbox__field" name="terms" required>
                                            <span class="custom-checkbox__content">
                                                Email Me Replies
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div id="uForm__preload_2" class="uForm__preload"></div>
                            </div>
                        </form>
                        <div id="uForm__overlay_2" class="uForm__overlay"></div>

                        <div id="uForm__modal_2" class="uForm__modal d-none">
                        <p class="uForm__modal-text_2 d-none">Запрос успешно отправлен</p>
                            <button>Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
