<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="socials">
                <ul class="list-reset list">
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon facebook">
                                <use xlink:href="images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon twitter">
                                <use xlink:href="images/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon instagram">
                                <use xlink:href="images/sprite.svg#inst"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon youtube">
                                <use xlink:href="images/sprite.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon linkedin">
                                <use xlink:href="images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <strong class="copyright">
                © 2022 All rights reserved - RebateMarkets
            </strong>
            <div class="footer__links">
                <a href="#">
                    Terms of Use
                </a>
                <a href="#">
                    Privacy Policy
                </a>
            </div>
            <a href="#" class="btn-main btn-main--grey-outline">
                Sign up
            </a>
        </div>
    </div>
</footer>
