<section class="above-footer">
    <div class="wrapper">
        <div class="above-footer__container">
            <a href="/" class="logo">
                <img src="/images/icon/logo.svg" alt="RebateMarkets logo">
            </a>
            <nav class="above-footer__menu menu">
                <div class="menu__block">
                    <h3 class="menu__title">
                        Brokers
                    </h3>
                    <ul class="list-reset menu__list">
                        <li>
                            <a href="#">
                                Forex Brokers
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Cryptocurrency Brokers
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="menu__all">
                        view all
                    </a>
                </div>
                <div class="menu__block">
                    <h3 class="menu__title">
                        Crypto
                    </h3>
                    <ul class="list-reset menu__list">
                        <li>
                            <a href="#">
                                1 Crypto resource
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                2 Crypto resource
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                2 Crypto resource
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="menu__all">
                        view all
                    </a>
                </div>
                <div class="menu__block">
                    <h3 class="menu__title">
                        Education
                    </h3>
                    <ul class="list-reset menu__list">
                        <li>
                            <a href="#">
                                Rebate info
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Webinars
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Events
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Training Courses
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu__block">
                    <h3 class="menu__title">
                        Suppport
                    </h3>
                    <ul class="list-reset menu__list">
                        <li>
                            <a href="#">
                                Consultation
                                online
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                FAQ
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="contacts">
                <h3 class="contacts__title">
                    CONTACT US 24/7
                </h3>
                <a href="mailto:rebate.markets@gmail.com" class="contacts__link contacts__link--mail">
                    rebate.markets@gmail.com
                </a>
                <a href="tel:+XXXXXXXXXXXX" class="contacts__link contacts__link--phone">
                    + XX-XXXXXXXXXX (Free)
                </a>
                <a href="#" class="btn-main btn-main--red">
                    Live support
                </a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="socials">
                <ul class="list-reset list">
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon facebook">
                                <use xlink:href="images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon twitter">
                                <use xlink:href="images/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon instagram">
                                <use xlink:href="images/sprite.svg#inst"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon youtube">
                                <use xlink:href="images/sprite.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__link" target="_blank">
                            <svg class="icon linkedin">
                                <use xlink:href="images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <strong class="copyright">
                © 2022 All rights reserved - RebateMarkets
            </strong>
            <div class="footer__links">
                <a href="#">
                    Terms of Use
                </a>
                <a href="#">
                    Privacy Policy
                </a>
            </div>
            <a href="#" class="btn-main btn-main--grey-outline">
                Sign up
            </a>
        </div>
    </div>
</footer>
