<header class="header">
    <div class="header__container">
        <a href="/" class="logo">
            <img src="/images/icon/logo.svg" alt="RebateMarkets logo">
        </a>
        <nav class="nav">
            <ul class="menu">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Brokers</a>
                    <ul class="nav-child ">
                        <!-- <li class="parent"> -->
                        <li>
                            <a href="#">Forex broker rebates</a>
                            <!-- <ul class="nav-child ">
                                <li>
                                    <a href="#">AAAFx</a>
                                </li>
                                <li>
                                    <a href="#">Admirals (Admiral Markets)</a>
                                </li>
                                <li>
                                    <a href="#">AvaTrade</a>
                                </li>
                                <li>
                                    <a href="#">Axi</a>
                                </li>
                                <li>
                                    <a href="#">Axiory</a>
                                </li>
                                <li>
                                    <a href="#">BDSwiss</a>
                                </li>
                                <li>
                                    <a href="#">Eightcap</a>
                                </li>
                                <li>
                                    <a href="#">Errante</a>
                                </li>
                            </ul> -->
                        </li>
                        <li>
                            <a href="#">Forex brokers list  / Reviews</a>
                        </li>
                        <li>
                            <a href="#">Best Forex Brokers 2022</a>
                        </li>
                        <li>
                            <a href="#">Guides</a>
                            <!-- <ul class="nav-child ">
                                <li>
                                    <a href="#">Guides 1</a>
                                </li>
                                <li>
                                    <a href="#">Guides 2</a>
                                </li>
                                <li>
                                    <a href="#">Guides 3</a>
                                </li>
                            </ul> -->
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Crypto
                    </a>
                </li>
                <li>
                    <a href="#">
                        Education
                    </a>
                </li>
                <li>
                    <a href="#">
                        Suppport
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header__right">
            <div class="languages">
                <div class="languages__block">
                    <div class="languages__active">
                        <div class="flag-wrap"><img src="/images/uk.png" alt="uk_gb"></div>
                        <span>EN</span>
                    </div>
                </div>
            </div>
            <div class="header__links-group">
                <a href="#" class="btn-main btn-main--red">
                    register
                </a>
                <a href="#" class="btn-main btn-main--red-outline">
                    Start now
                </a>
            </div>
        </div>
        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
        </button>
        <div class="mobile-menu" data-menu>
            <div class="mobile-menu__container">
                <a href="/" class="logo">
                    <img src="/images/icon/logo.svg" alt="RebateMarkets logo">
                </a>
                <nav class="nav">
                    <ul class="menu">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Brokers</a>
                            <ul class="nav-child ">
                                <li>
                                    <a href="#">Forex broker rebates</a>
                                    <ul class="nav-child ">
                                        <li>
                                            <a href="#">AAAFx</a>
                                        </li>
                                        <li>
                                            <a href="#">Admirals (Admiral Markets)</a>
                                        </li>
                                        <li>
                                            <a href="#">AvaTrade</a>
                                        </li>
                                        <li>
                                            <a href="#">Axi</a>
                                        </li>
                                        <li>
                                            <a href="#">Axiory</a>
                                        </li>
                                        <li>
                                            <a href="#">BDSwiss</a>
                                        </li>
                                        <li>
                                            <a href="#">Eightcap</a>
                                        </li>
                                        <li>
                                            <a href="#">Errante</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Forex brokers list  / Reviews</a>
                                </li>
                                <li>
                                    <a href="#">Best Forex Brokers 2022</a>
                                </li>
                                <li>
                                    <a href="#">Guides</a>
                                    <ul class="nav-child ">
                                        <li>
                                            <a href="#">Guides 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Guides 2</a>
                                        </li>
                                        <li>
                                            <a href="#">Guides 3</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Crypto
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Education
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Suppport
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="header__links-group">
                    <a href="#" class="btn-main btn-main--red">
                        register
                    </a>
                    <a href="#" class="btn-main btn-main--red-outline">
                        Start now
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
