<div class="main-screen-large">
    <div class="swiper main-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <section class="main-screen main-screen-1">
                    <div class="wrapper">
                        <div class="main-screen__container">
                            <div class="main-screen__left">
                                <h1 class="title title--lines">
                                    Start earn with
                                    cash-back now
                                </h1>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur.<br>
                                    Egestas vulputate viverra ullamcorper pharetra odio facilisis.
                                    At malesuada risus morbi sapien volutpat eros imperdiet.
                                </p>
                                <a href="#" class="btn-main btn-main--red">
                                    Start now
                                </a>
                                <div class="main-slider__controls swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="swiper-slide">
                <section class="main-screen main-screen-2">
                    <div class="wrapper">
                        <div class="main-screen__container">
                            <div class="main-screen__left">
                                <h1 class="title title--lines">
                                    Start earn with
                                    cash-back now
                                </h1>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur.<br>
                                    Egestas vulputate viverra ullamcorper pharetra odio facilisis.
                                    At malesuada risus morbi sapien volutpat eros imperdiet.
                                </p>
                                <a href="#" class="btn-main btn-main--red">
                                    Start now
                                </a>
                                <div class="main-slider__controls swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="main-slider__btns">
            <div class="main-slider__btn swiper-button-prev"></div>
            <div class="main-slider__btn swiper-button-next"></div>
        </div>
    </div>
    <section class="registration">
        <div class="wrapper">
            <div class="registration__container">
                <div class="registration__text">
                    <h3 class="subtitle">
                        earn with RebateMarkets right now
                    </h3>
                    <h2 class="title">
                        Apply for registration
                    </h2>
                </div>
                <div class="registration__form">
                    <form action="#" class="form">
                        <label>
                            <input type="email" name="email" placeholder="Enter your e-mail">
                        </label>
                        <button type="submit" class="btn-reset btn-main btn-main--red">
                            register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
