<div class="main-screen-large">
    <div class="swiper main-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <section class="main-screen main-screen-1">
                    <div class="wrapper">
                        <div class="main-screen__container">
                            <div class="main-screen__left">
                                <h1 class="title title--lines">
                                    Start earn with
                                    cash-back now
                                </h1>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur.<br>
                                    Egestas vulputate viverra ullamcorper pharetra odio facilisis.
                                    At malesuada risus morbi sapien volutpat eros imperdiet.
                                </p>
                                <a href="#" class="btn-main btn-main--red">
                                    Start now
                                </a>
                                <div class="main-slider__controls swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="swiper-slide">
                <section class="main-screen main-screen-2">
                    <div class="wrapper">
                        <div class="main-screen__container">
                            <div class="main-screen__left">
                                <h1 class="title title--lines">
                                    Start earn with
                                    cash-back now
                                </h1>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur.<br>
                                    Egestas vulputate viverra ullamcorper pharetra odio facilisis.
                                    At malesuada risus morbi sapien volutpat eros imperdiet.
                                </p>
                                <a href="#" class="btn-main btn-main--red">
                                    Start now
                                </a>
                                <div class="main-slider__controls swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="main-slider__btns">
            <div class="main-slider__btn swiper-button-prev"></div>
            <div class="main-slider__btn swiper-button-next"></div>
        </div>
    </div>
    <section class="registration">
        <div class="wrapper">
            <div class="registration__container">
                <div class="registration__text">
                    <h3 class="subtitle">
                        earn with RebateMarkets right now
                    </h3>
                    <h2 class="title">
                        Apply for registration
                    </h2>
                </div>
                <div class="registration__form">
                    <form action="#" class="form">
                        <label>
                            <input type="email" name="email" placeholder="Enter your e-mail">
                        </label>
                        <button type="submit" class="btn-reset btn-main btn-main--red">
                            register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="banner">
    <img src="images/home/ticker.svg" alt="banner" class="banner__image">
    <img src="images/home/ticker.svg" alt="banner" class="banner__image">
</div>
<section class="brokers">
    <div class="wrapper">
        <div class="brokers__container">
            <div class="tabs" data-tabs="brokers">
              <ul class="list-reset tabs__nav">
                <li class="tabs__nav-item">
                    <button class="btn-reset tabs__nav-btn" type="button">
                        Forex Brokers
                    </button>
                </li>
                <li class="tabs__nav-item">
                    <button class="btn-reset tabs__nav-btn" type="button">
                        Cryptocurrency Brokers
                    </button>
                </li>
              </ul>
              <p class="brokers__text">
                When a trader links their new or existing forex trading account to us, the broker pays us a volume based commission for every trade that's placed. We then pay most of this back to our clients. Unlike a few of our competitors your spreads will never increase as a result of using our service. Instead, you'll pay lower transaction costs and increase your win ratio. Ultimately, you get a better deal working with us than working only with the broker.
              </p>
              <div class="tabs__content">
                <div class="tabs__panel">
                    <ul class="list-reset brokers__list">
                        <div class="brokers__item broker">
                            <div class="broker__image-wrap">
                                <img src="images/brokers/no-image-broker.jpg" alt="Name of broker #1">
                            </div>
                            <div class="broker__info">
                                <div class="broker__info-top">
                                    <h3 class="broker__title">
                                        Name of broker #1
                                    </h3>
                                    <a href="#" class="broker__more">
                                        more info
                                    </a>
                                </div>
                                <div class="broker__info-bottom">
                                    <div class="broker__stats">
                                        <span>Trade. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Zero. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Trade. MT5</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                </div>
                            </div>
                            <div class="broker__links">
                                <a href="#" class="btn-main btn-main--red">
                                    Visit Site
                                </a>
                                <a href="#" class="btn-main btn-main--red-outline">
                                    Get cashback
                                </a>
                            </div>
                        </div>
                        <div class="brokers__item broker">
                            <div class="broker__image-wrap">
                                <img src="images/brokers/no-image-broker.jpg" alt="Name of broker #1">
                            </div>
                            <div class="broker__info">
                                <div class="broker__info-top">
                                    <h3 class="broker__title">
                                        Name of broker #1
                                    </h3>
                                    <a href="#" class="broker__more">
                                        more info
                                    </a>
                                </div>
                                <div class="broker__info-bottom">
                                    <div class="broker__stats">
                                        <span>Trade. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Zero. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Trade. MT5</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                </div>
                            </div>
                            <div class="broker__links">
                                <a href="#" class="btn-main btn-main--red">
                                    Visit Site
                                </a>
                                <a href="#" class="btn-main btn-main--red-outline">
                                    Get cashback
                                </a>
                            </div>
                        </div>
                        <div class="brokers__item broker">
                            <div class="broker__image-wrap">
                                <img src="images/brokers/no-image-broker.jpg" alt="Name of broker #1">
                            </div>
                            <div class="broker__info">
                                <div class="broker__info-top">
                                    <h3 class="broker__title">
                                        Name of broker #1
                                    </h3>
                                    <a href="#" class="broker__more">
                                        more info
                                    </a>
                                </div>
                                <div class="broker__info-bottom">
                                    <div class="broker__stats">
                                        <span>Trade. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Zero. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Trade. MT5</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                </div>
                            </div>
                            <div class="broker__links">
                                <a href="#" class="btn-main btn-main--red">
                                    Visit Site
                                </a>
                                <a href="#" class="btn-main btn-main--red-outline">
                                    Get cashback
                                </a>
                            </div>
                        </div>
                        <div class="brokers__item broker">
                            <div class="broker__image-wrap">
                                <img src="images/brokers/no-image-broker.jpg" alt="Name of broker #1">
                            </div>
                            <div class="broker__info">
                                <div class="broker__info-top">
                                    <h3 class="broker__title">
                                        Name of broker #1
                                    </h3>
                                    <a href="#" class="broker__more">
                                        more info
                                    </a>
                                </div>
                                <div class="broker__info-bottom">
                                    <div class="broker__stats">
                                        <span>Trade. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Zero. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Trade. MT5</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                </div>
                            </div>
                            <div class="broker__links">
                                <a href="#" class="btn-main btn-main--red">
                                    Visit Site
                                </a>
                                <a href="#" class="btn-main btn-main--red-outline">
                                    Get cashback
                                </a>
                            </div>
                        </div>
                        <div class="brokers__item broker">
                            <div class="broker__image-wrap">
                                <img src="images/brokers/no-image-broker.jpg" alt="Name of broker #1">
                            </div>
                            <div class="broker__info">
                                <div class="broker__info-top">
                                    <h3 class="broker__title">
                                        Name of broker #1
                                    </h3>
                                    <a href="#" class="broker__more">
                                        more info
                                    </a>
                                </div>
                                <div class="broker__info-bottom">
                                    <div class="broker__stats">
                                        <span>Trade. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Zero. MT4</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                    <div class="broker__stats">
                                        <span>Trade. MT5</span>
                                        <span>20.00% Of The Spread</span>
                                    </div>
                                </div>
                            </div>
                            <div class="broker__links">
                                <a href="#" class="btn-main btn-main--red">
                                    Visit Site
                                </a>
                                <a href="#" class="btn-main btn-main--red-outline">
                                    Get cashback
                                </a>
                            </div>
                        </div>
                    </ul>
                    <a href="#" class="brokers__all btn-main btn-main--grey-outline">
                        view all
                    </a>
                </div>
                <div class="tabs__panel">
                    Empty brokers list
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<section class="opporunity">
    <div class="wrapper">
        <div class="opporunity__container">
            <h2 class="title title--lines">
                Never miss a profit opportunity
            </h2>
            <ul class="list-reset opporunity__list">
                <li>Trading Calculators with real-time data</li>
                <li>Real-time Economic Calendar</li>
                <li>Reliable Crypto Exchange Ratings</li>
                <li>Social Trading - Chat Room & Forum</li>
            </ul>
            <a href="#" class="btn-main btn-main--red">
                Start now
            </a>
        </div>
    </div>
</section>
