<div class="support-page">
    <section class="main-banner">
        <div class="wrapper">
            <h1 class="main-banner__title">
                Suppport
            </h1>
            <div aria-label="Breadcrumbs" role="navigation">
                <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/" class="pathway">
                            <span itemprop="name">
                                Home
                            </span>
                        </a>
                        <span class="divider"></span>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                        <span itemprop="name">
                            Suppport
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="support">
        <div class="wrapper">
            <div class="support__container">
                <div class="contacts">
                    <div class="contacts__info info">
                        <h3 class="contacts__subtitle">contact us in a convenient way</h3>
                        <h2 class="contacts__title">Contact Info</h2>
                        <div class="info__body">
                            <a href="tel:+353212428190" class="info__link">
                                +353 21 242 8190
                            </a>
                            <a href="mailto:support@rebate,markets.com" class="info__link">
                                support@rebate,markets.com
                            </a>
                            <div class="info__schedule">
                                Sunday 17:00 - Friday 17:00 <span>(New York time)</span>
                            </div>
                        </div>
                        <div class="info__link-group">
                            <a href="#" class="btn-main btn-main--red-outline">
                                Live support
                            </a>
                            <a href="#" class="btn-main btn-main--blue-outline">
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4532 9.67276C16.5999 4.52083 12.0859 -0.159586 6.78476 0.738893C3.90705 -1.04677 0.0751953 0.971289 0.0751953 4.39482C0.0751953 5.19107 0.294911 5.9364 0.676889 6.57891C-0.388606 11.7429 4.16223 16.3558 9.4588 15.3961C13.2029 17.3757 17.3401 13.4276 15.4532 9.67276ZM10.4141 12.7799C9.02333 13.3519 6.73464 13.355 5.34997 12.6301C3.3753 11.5773 3.02443 9.20718 4.72787 9.20718C6.01169 9.20718 5.60535 10.704 6.90165 11.3142C7.49681 11.5892 8.77608 11.6177 9.51962 11.1163C10.2539 10.6247 10.1867 9.85167 9.78749 9.48237C8.72991 8.50603 5.70362 8.89395 4.32014 7.18476C3.71904 6.44339 3.60571 5.1352 4.34451 4.1866C5.63229 2.52951 9.41145 2.42867 11.0362 3.68C12.5364 4.84099 12.1315 6.38197 10.9207 6.38197C9.46475 6.38197 10.2299 4.47684 7.87938 4.47684C6.17534 4.47684 5.5049 5.68855 6.70512 6.27836C8.33209 7.08649 12.478 6.81665 12.478 9.9745C12.4744 11.2882 11.6688 12.268 10.4141 12.7799Z" fill="currentColor"/>
                                </svg>
                                <span>Skype</span>
                            </a>
                        </div>
                    </div>
                    <div class="contacts__form">
                        <h3 class="contacts__subtitle">find out more details</h3>
                        <h2 class="contacts__title">Contact Us</h2>
                        <form id="uForm_3" action="#" class="form" enctype="multipart/form-data" method="post">
                            <input class="uForm__extended" name="nospam" type="text" value="uform-empty" required>
                            <div class="form__right">
                                <input class="form__control" id="uForm__email_3" name="Email" type="text" placeholder="E-mail Adress *" required>
                                <input class="form__control" id="uForm__name_3" name="Name" type="text" placeholder="Name *" required>
                                <input class="form__control" id="uForm__subject_3" name="Subject" type="text" placeholder="Subject *" required>
                                <textarea class="form__control" id="uForm__message_3" name="Message" id="" required>Message *</textarea>
                                <p id="uForm__error-msg_3" class="uForm__error-msg"></p>
                                <button class="btn-reset btn-main btn-main--red" id="uForm__submit_3" type="submit">
                                    Send
                                </button>
                                <div id="uForm__preload_3" class="uForm__preload"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
