@include small-tablet {
    .catalog {
        .catalog-search {
            .search-controlls {
                flex-wrap: wrap;
            }
        }
    }
}

@include mobile {
    .catalog {
        .main-banner {
            &__title {
                font-size: 30px;
            }
        }
        .catalog-search {
            .search-controlls {
                gap: 10px;

                label,
                select,
                .btn-main {
                    max-width: inherit;
                }
            }
        }
    }
}
