@include tablet {
    .support-page {
        .support {
            .contacts {
                gap: 20px;

                &__info,
                &__form {
                    padding: 60px 30px;
                }
            }
        }
    }
}

@include small-tablet {
    .support-page {
        .support {
            padding-top: 60px;
            padding-bottom: 60px;

            // .tabs {
            //     &__nav {
            //         gap: 25px;
            //     }

            //     &__nav-btn {
            //         font-size: 24px;

            //         &::after {
            //             max-width: 60px;
            //         }
            //     }
            // }
            .contacts {
                grid-template-columns: 1fr;
            }
        }
    }
}

@include mobile {
    .support-page {
        .main-banner {
            &__title {
                font-size: 30px;
            }
        }
        .support {
            .tabs {
                &__nav {
                    gap: 10px;
                    margin-bottom: 25px;
                }

                &__nav-btn {
                    font-size: 20px;
                    padding-right: 20px;

                    &::after {
                        max-width: 50px;
                    }
                }
            }

            .contacts {
                &__info,
                &__form {
                    padding: 40px 15px;
                }

                .info {
                    &__body {
                        margin-top: 35px;
                        margin-bottom: 35px;
                    }
                }
            }
        }
    }
}

@include small-mobile {
    .support-page {
        .support {
            .contacts {
                &__subtitle {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                &__title {
                    font-size: 22px;
                }

                .info {
                    &__link-group {
                        gap: 10px;

                        .btn-main {
                            padding: 16px 6px;
                        }
                    }
                }

                .form {
                    margin-top: 20px;

                    .btn-main {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
