// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Prosto One", sans-serif;
  --content-width: 1830px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --black: #000;
  --cs-red: #F32626;
  --cs-black: #171C23;
  --cs-dark: #12151F;
  --cs-grey: #2E2F35;
  --cs-high-grey: #212831;
  --cs-light-grey: #EAEAEA;
  --cs-dark-text: #71717A;
}
