// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/home";
@import "./mixins/burger";

// подкоючение медиа 
@import "./components/media/header";
@import "./components/media/footer";
@import "./components/media/home";